*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'circular-std';
    color: rgb(0, 0, 0);
    font-weight: 300;
    
}

@font-face {
  font-family: 'circular-std' ;
  src: url(fonts/circular-std.ttf);
}


body{
    background: url("tom.png") no-repeat center center / cover;
    width: 100vw;
    height: auto;  
    display: flex;
    justify-content: center;
}

.caja{
    width: 100%;
    margin-top: 200px;
    background-color: #A33B3C;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    border: 10px;
    border-color: white;
    border: 8px solid #1F1C26;

}
.caja .caja-barra{
    height: 3px;
    width: 70%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
input{
    height: 60px;
    border-radius: 10px;
    border: 0;
    color: black;

}
::placeholder {
    
    padding: 7px;
  }
 label{
     text-transform: uppercase;
     color: white;
 }

select{
    border-radius: 8px;
    height: 30px;
    width: 60%;
} 

button{
    height: 60px;
    border-radius: 8px;
    background-color: #62a126;
    border:0;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}
textarea{
    border-radius: 8px;
}
#foto{
    max-width: 95%;
}

#upload_container{
    display: flex;
    flex-direction: column;
}