*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'circular-std';
    
}

@font-face {
  font-family: 'circular-std' ;
  src: url(fonts/circular-std.ttf);
}











.dad{
 
  position: relative;
}
.container{
    height: 100vh;
    width: 100%;
    /* background-color:#22285B; */
    background: url("tom.png") no-repeat center center / cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    position: relative;
    
}
.container .container-child{
    height: 95%;
    width: 97%;
    background-color:none;
}

/* ZONA DEL PRIMER DIV(FLECHA, H1 Y H2) */
.container .container-child .container-child-div1{
    height: 20%;
    width: 100%;
    background-color: none;
    display: flex;
    flex-direction: column;
    color:#ffffff;
    
    justify-content: center;

}
.container .container-child .container-child-div1 h1{
  font-size: 2em;
}
.container .container-child .container-child-div1 h2{
  font-size: 1em;
}






.wa{
  height: 12vh;
  width: 94%;
  background-color: #393446;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 12px;


}


















/* ZONA DEL CARRUSEL */


.container .container-child .cards{
    margin-top: 30px;
  height: 60%;
    width: 100%;
    
}

.slider {
    width: 100%;
    text-align: initial;
    overflow: hidden;
    height: 100%;
    background-color: none;
    
    
  }

  .slides {
    display: flex;
   background-color:none;
   height: 100%;
   
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 100px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }




  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 90%;
    margin-right: 20px;
    border-radius: 10px;
    background: #A33B3C;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  @media (max-width: 320px){
    .slides > div{
      width: 250px;
    }  
    
  
  }
    
  
  @media (min-width: 600px){
    .slides > div{
      width: 49%;
    }
  }
  
  
  
  .tw{
    height: 92%;
    width: 90%;
    background:#ffffff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    position: relative;


    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
  }
  

.soli {
  height: 92%;
  width: 90%;
  background:#1F1C26;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  padding: 20px;
  
  
  
  
  
}
.soli h4{
  font-size: 1em;
  
}
.soli p{
  font-size: 10px;
  margin-top: 15px;
}

.soli .soli-button{
  height: 280px;
  width: 100%;
  /* background-color: rgb(124, 67, 67); */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  
}

.soli .soli-button A{
  height: 40%;
  width: 200px;
  background-color: #62a126;
  border-radius: 7px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.soli .soli-button .uno{
  
  color: white;
  background-color: rgb(3, 72, 151);

  text-decoration: none;

}


  
.twitter-timeline{
  height: 100%;
  width: 100%;
  
  margin-top: 100px;
  
}

.soli .soli-button a img{
  height: 35px;
  width: 35px;
}